body {
  margin: 0;
  padding: 0;
  background-color: #fcdada;
  height: 100vh;
}

input:hover{
  border-color: #b2deec;
}

.btn:hover {
  background-color:#eeeeee;
  color: #686d76;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #ecf4f3;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
