*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

nav{
  background-color: white;
  height: 3em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

nav h3{
  color: hsl(205deg 78% 60%);
  letter-spacing: 0.25rem;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.container{
  margin: auto;
  width: 50%;
  text-align: center;
  align-items: center;
  margin-top: 40vh;
  letter-spacing: 0.25rem;
} 

.container h2{  
  background-color:#222;
  color: white;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
}

.container span{
  color: #48C2F1;
}

button{
  background: transparent;
  border: 2px solid #222;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  letter-spacing: 0.25rem;
  display: inline-block;
}

button:hover{
  color: white;
  background: #222;
  cursor: pointer;
  transition: 0.8s;
}